# ESP-IDF / esp-matter build artifacts
build/
sdkconfig
sdkconfig.old
sdkconfig.defaults.old
dependencies.lock

# Crucial Espressif Package Managers (The 1K+ file culprits)
managed_components/
.component_manager/
.shadow-plugin-configured

# Python/Environment temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.espressif/

# OS-specific clutter
.DS_Store
Thumbs.db

# weird zone identifier files
*Zone.Identifier
