# Target
CONFIG_IDF_TARGET="esp32c6"

# Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Bluetooth (NimBLE) for Commissioning
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1

# OpenThread and 802.15.4 Radio
CONFIG_IEEE802154_ENABLED=y
CONFIG_OPENTHREAD_ENABLED=y
CONFIG_OPENTHREAD_RADIO_NATIVE=y
CONFIG_OPENTHREAD_DEVICE_TYPE_FTD=y

# Disable Wi-Fi to prioritize Thread
CONFIG_ENABLE_WIFI_STATION=n
CONFIG_ENABLE_WIFI_AP=n

# LwIP IPv6
CONFIG_LWIP_IPV6=y
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_DHCP6=y

# ESP Matter Core
CONFIG_ESP_MATTER_ENABLE=y

# No Sleep/Power Management (Mains powered, needs to keep radio ON and route packets)
CONFIG_PM_ENABLE=n

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
